{% extends "layout.html" %}
{% block title %}Add Bucket{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h1> Add Bucket </h1>
    <div class="form-area">
        {% if 'add_bucket_id' in session: %}
            <button type="button" id="btn_new_bucket" class="btn btn-warning">Add New Bucket</button>
            <br /><br />
            <form role="form" id="frm_search" action="javascript:void(0)" method="post" >
                <div class="form-group">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
                    <button type="button" id="btn_search" class="form-control btn btn-primary">Search Images</button>
                    <button type="button" id="btn_search_loading" class="form-control btn btn-default" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
                </div>
            </form>

            <form role="form" id="frm_image" action="javascript:void(0)" method="post" enctype="multipart/form-data">
                <br style="clear:both">
                {% with messages = get_flashed_messages(category_filter=['add_bucket_msg']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <span style="color:red">{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <div class="form-group">
                    {% if 'add_bucket_id' in session %}
                        <input type="hidden" name="id" id="id" value="{{ session['add_bucket_id'] }}">
                    {% endif %}
                </div>

                <!-- searched images will be display here -->
                <div id="serched_imgs">
                    
                </div>

                <div class="form-group">
                    <span class="col-md-3 header_form">Title</span>
                    <input type="text" name="header" id="header" placeholder="Title" class="form-control" />
                </div>
                    
                <div class="form-group">
                    <span class="col-md-3 header_form">weight</span>
                    <input type="text" name="weight" id="weight" placeholder="weight between 1 to 100" class="form-control" />
                </div>
                    
                <div class="form-group">
                    <span class="col-md-3 header_form">Content</span>
                    <textarea name="body" id="body" class="form-control"></textarea>
                </div>
                    
                <br /><br />

                <!-- after search images and select remaining image control will place here -->
                <div id="as_image_controls">
                    <div class='form-group'>
                        <span class='col-md-3 header_form'>Select Image</span>
                        <input type='file' name='image' id="image" />
                    </div>
                </div>

                <button type="button" id="btn_add_bucket_imges" class="btn btn-primary pull-left">Add Image</button>
                <button type="button" id="btn_add_bucket_imges_loading" class="btn btn-default pull-left" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
            </form>
        {% else %}
            {% with messages = get_flashed_messages(category_filter=['add_bucket_msg']) %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color:red">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form role="form" action="javascript:void(0)" id="frm_add_bucket" method="post">
                <br style="clear:both">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name" required>
                </div>
                
                <button type="button" id="btn_add_bucket" class="btn btn-primary pull-left">Add</button>
                <button type="button" id="btn_add_bucket_loading" class="btn btn-default pull-left" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
            </form>
        {% endif %}
    </div>
{% endblock %}
         
    
                   