{% extends "layout.html" %}
{% block title %}Bucket List{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h1>Bucket List</h1>
    {% with updmsgs = get_flashed_messages(category_filter=['update_bucket']) %}
        {% if updmsgs %} 
            {% for updmsg in updmsgs %}
                <span style="color:green">{{ updmsg }}</span>
            {% endfor %} 
        {% endif %}
    {% endwith %}
    <div class="form-area">
    	<form role="form" action="/bucket_list" method="post" >
        	<br style="clear:both">
        	<div class="form-group col-md-9">
        		<!--<select class="form-control" name="bid">
        			{% if buckets: %}
        				<option value="0">--- Select Bucket Name ---</option>
	        			{% for bucket in buckets %}
	        				<option value="{{ bucket['id'] }}" {% if bid: %}{% if bid == bucket['id']|string: %}selected="selected"{% endif %}{% endif %} >{{ bucket['name'] }}</option>
	        			{% endfor %}
	        		{% elif response: %}
        				<option value="0">{{ response }}</option>
	        		{% endif %}
        		</select>-->
                <ul class="list-group">
                {% if buckets: %}
                    <input type="radio" name="bid" value="0" checked="checked" style="display:none" />
                    {% for bucket in buckets %}
                    <div class="radio">
                        <li class="list-group-item">
                            <label>
                                <input type="radio" name="bid" class="selval" value="{{ bucket['id'] }}" {% if bid: %}{% if bid == bucket['id']|string: %}checked="checked"{% endif %}{% endif %} />
                            </label>
                            {{ bucket['name'] }}
                        </li>
                    </div>
                    {% endfor %}
                    {% elif response: %}
                    <li class="list-group-item"><input type="radio" name="bid" value="0" />{{ response }}</li>
                    {% endif %}
                </ul>
        	<div class="form-group col-md-3">
        		<button type="submit" class="form-control btn btn-primary">Fetch Bucket</button>
        	</div>
        </form>
    </div>
    
    {% if errornoimgs: %}
        <br style="clear:both">
    	<span style="color:red" >{{ errornoimgs }}</span>
    	<!--<form role="form" action="/bucket_update_form" method="get" >
        	<input type="hidden" name="bid" value="{{ bid }}" />
        	<div class="form-group col-md-6">
        		<button type="submit" class="form-control btn btn-primary">Update Bucket</button>
        	</div>
        </form>-->
        <form role="form" action="javascript:void(0)" id="frm_bkt_dlt" method="post" >
        	<input type="hidden" name="bid" value="{{ bid }}" />
        	<div class="form-group col-md-6">
        		<button type="button" id="btn_bkt_dlt" class="form-control btn btn-primary">Delete Bucket</button>
                <button type="button" id="btn_bkt_dlt_loading" class="form-control btn btn-default" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
        	</div>
        </form>
    {% elif bucket_images: %}
        <br style="clear:both">
    	<!--<form role="form" action="/bucket_update_form" method="get" >
        	<input type="hidden" name="bid" value="{{ bid }}" />
        	<div class="form-group col-md-6">
        		<button type="submit" class="form-control btn btn-primary">Update Bucket</button>
        	</div>
        </form>-->
        
        <!-- redis data -->
        <!--{% if allimgsredis: %}
            {% for imgsredis in allimgsredis %}
                {{ imgsredis }}
                {{ imgsredis['filename'] }}    
            {% endfor %}
        {% endif %}-->
        <form role="form" action="javascript:void(0)" id="frm_bkt_dlt" method="post" >
        	<input type="hidden" name="bid" value="{{ bid }}" />
        	<div class="form-group col-md-6">
                <button type="button" id="btn_bkt_dlt" class="form-control btn btn-primary">Delete Bucket</button>
                <button type="button" id="btn_bkt_dlt_loading" class="form-control btn btn-default" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
        	</div>
        </form>

        <div class="form-group col-md-6">
            <button type="button" class="form-control btn btn-primary" id="btn_sho_add_form">Add Bucket Image</button>
        </div>

        <br style="clear:both">
        
        <div class="row" style="display:none" id="add_form">
            <div class="col-lg-12">
                <h1 class="page-header">Add Bucket Images</h1>
                <form role="form" id="frm_search" action="javascript:void(0)" method="post" >
                    <div class="form-group">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
                        <button type="button" id="btn_search" class="form-control btn btn-primary">Search Images</button>
                        <button type="button" id="btn_search_loading" class="form-control btn btn-default" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
                    </div>
                </form>

                <form role="form" id="frm_image_bktlst" action="javascript:void(0)" method="post" enctype="multipart/form-data">
                    <br style="clear:both">
                    {% with messages = get_flashed_messages(category_filter=['add_bucket_msg']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <span style="color:red">{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" value="{{ bid }}">
                    </div>

                    <!-- searched images will be display here -->
                    <div id="serched_imgs">
                        
                    </div>

                    <div class="form-group">
                        <span class="col-md-3 header_form">Title</span>
                        <input type="text" name="header" id="header" placeholder="Title" class="form-control" />
                    </div>
                        
                    <div class="form-group">
                        <span class="col-md-3 header_form">weight</span>
                        <input type="text" name="weight" id="weight" placeholder="weight between 1 to 100" class="form-control" />
                    </div>
                        
                    <div class="form-group">
                        <span class="col-md-3 header_form">Content</span>
                        <textarea name="body" id="body" class="form-control"></textarea>
                    </div>
                        
                    <br /><br />

                    <!-- after search images and select remaining image control will place here -->
                    <div id="as_image_controls">
                        <div class='form-group'>
                            <span class='col-md-3 header_form'>Select Image</span>
                            <input type='file' name='image' id="image" />
                        </div>
                    </div>

                    <button type="button" id="btn_add_imges_flist" class="btn btn-primary pull-left">Add Image</button>
                    <button type="button" id="btn_add_imges_flist_loading" class="btn btn-default pull-left" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
                </form>
                <form role="form" id="frm_get_imgs" action="/bucket_list" method="post" style="display:none">
                    <input type="hidden" name="bid" value="{{ bid }}" />
                </form>
            </div>
        </div>

	    <div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header">Bucket Images</h1>
		    	
		    	{% if bucket_images: %}
                    <form role="form" action="javascript:void(0)" id="frm_update_bucket" method="post" >
                        {% set i=1 %}
                        {% for bucket_image in bucket_images %}
                            <div class="form-group">
                                <span class="col-md-3 header_form">Title</span>
                                <div class = "col-md-9" >
                                    <input type="text" name="header{{ i }}" value="{{ bucket_image['header'] }}" placeholder="Title" class="form-control" />
                                </div>
                                <br style="clear:both">
                            </div>
                            <div class="form-group">
                                <span class="col-md-3 header_form">weight</span>
                                <div class = "col-md-9" >
                                    <input type="text" name="weight{{ i }}" value="{{ bucket_image['weight'] }}" placeholder="weight between 1 to 100" class="form-control" />
                                </div>
                                <br style="clear:both">
                            </div>
                            <div class="form-group">
                                <span class="col-md-3 header_form">Content</span>
                                <div class = "col-md-9" >
                                    <textarea type="text" name="body{{ i }}" class="form-control">{{ bucket_image['body'] }}</textarea>
                                </div>
                                <br style="clear:both">
                            </div>
                            <div class="form-group">
                                <span class="col-md-3 header_form">Image</span>
                                <div class = "col-md-9" >
                                    <img class="img-responsive" src="{{ url_for('static', filename='images/'+bucket_image['filename']+'') }}" alt="Image Currepted" style="height:100px">
                                    <input type="file" name="image{{ i }}" />
                                </div>
                                <br style="clear:both">
                            </div>
                            <input type="hidden" name="id{{ i }}" value="{{ bucket_image['id'] }}" />
                            <hr/>
                            {% set i=i+1 %}
                        {% endfor %}
                        <input type="hidden" name="bucket_id" value="{{ bid }}" />
                        <div class="form-group col-md-6">
                            <button type="button" id="btn_update_bucket" class="btn btn-primary pull-left">Update Bucket</button>
                            <button type="button" id="btn_update_bucket_loading" class="btn btn-default pull-left" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
                        </div>
                    </form>
                {% endif %}
			</div>
		</div>
		<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
		        <div class="modal-content">
		            <div class="modal-body">
		                <img src="" alt="" />
		            </div>
		        </div>
		    </div>
		</div>
	{% endif %}
{% endblock %}