{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
   	<h1> Dashboard </h1>
   	<div class="container">
   		<!--<div class="row">
   			<button type="button" id="gettrends">Get Trends</button>
   			<div id="showtrends"></div>
		</div>-->
   		<div class="row">
	      	<div class="col-sm-3 col-3">
	      		<ul class="list-group">
	      			<li class="list-group-item row" style="background:#43609C;color:#fff">
			          	<h1 style="font-size:26px;font-weight:bold;font-family:verdana;text-align:center;">Facebook</h1>
			      	</li>

			      	<li class="list-group-item row">
			          	asda
			      	</li>
			      	<li class="list-group-item row">
			          	asda
			      	</li>
			      	<li class="list-group-item row">
			          	asda
			      	</li>
			      	<li class="list-group-item row">
			          	asda
			      	</li>
			  	</ul>
	      	</div>
	      	<div class="col-sm-3 col-3">
	      	<!--{% if toptrends: %}
	      		{% for trends in toptrends %}
	      			{% for trend in trends %}
	      				{{ trend['name'] }}
	      			{% endfor %}
	      		{% endfor %}
	      	{% endif %}-->
	      		<ul class="list-group">
	      			<li class="list-group-item row" style="background:#2e9e9e;color:#fff">
			          	<h1 style="font-size:26px;font-weight:bold;font-family:verdana;text-align:center;">Twitter</h1>
			      	</li>

	      			{% if ttrends: %}
			      		{% for trends in ttrends %}
			      			<li class="list-group-item row" style="overflow:hidden" >
					      		{{ trends['trends_keyword'] }}
					      	</li>
			      		{% endfor %}
			      	{% endif %}
			  	</ul>
	      	</div>
	      	<div class="col-sm-3 col-3">
	      		<ul class="list-group" id="gtrends">
	      			<li class="list-group-item row" style="background:#c73526;color:#fff">
			          	<h1 style="font-size:26px;font-weight:bold;font-family:verdana;text-align:center;">Google</h1>
			      	</li>

			      	{% if gtrends: %}
			      		{% for trends in gtrends %}
			      			<li class="list-group-item row" style="overflow:hidden" >
					      		{{ trends['trends_keyword'] }}
					      	</li>
			      		{% endfor %}
			      	{% endif %}
			  	</ul>
	      	</div>
		</div>
   	</div>
   	<!--<div id="google_trends">{% if gtrends: %}{{ gtrends }}{% endif %}</div>-->
	      		
   <!--<pre>  </pre>-->
{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='js/xml2json.js') }}"></script>
	<script>
		/*$(document).ready(function(){
			//google trends page response
			var gtrendspage = $("#google_trends").html();
			gtrendspage = gtrendspage.replace(new RegExp('&gt;', 'g'), '>');
			gtrendspage = gtrendspage.replace(new RegExp('&lt;', 'g'), '<');
			gtrendspage = gtrendspage.replace(new RegExp('\\h', 'g'), '');
			gtrendspage = gtrendspage.replace(new RegExp('\\n', 'g'), '');
			//gtrendspage = gtrendspage.replace(new RegExp('#cdata-section', 'g'), 'data');

			alert(gtrendspage);
			gtrendspage = xml2json(parseXml(gtrendspage),'');
			var gtrendsjson = JSON.parse(gtrendspage);
			var data = gtrendsjson['feed']['entry']['content']['#cdata'];
			$("#google_trends").html(data);

			var olli = $('ol li');
			for(var i=0;i<olli.length;i++){
				var trend = $('ol li:eq(' + i + ')').text();
				$("#gtrends").append('<li class="list-group-item row">'+trend+'</li>');
				//var gtrends.push($('ol li:eq(' + i + ')').text()));
			}

			
		});*/
	  	/*window.fbAsyncInit = function() {
	    	FB.init({
	      		appId      : '1486213318355026',
	      		xfbml      : true,
	      		version    : 'v2.5'
    		});
	  	};

	  	(function(d, s, id){
	     	var js, fjs = d.getElementsByTagName(s)[0];
	     	if (d.getElementById(id)) {return;}
     		js = d.createElement(s); js.id = id;
	     	js.src = "//connect.facebook.net/en_US/sdk.js";
	     	fjs.parentNode.insertBefore(js, fjs);
	   	}(document, 'script', 'facebook-jssdk'));


	  	$("#gettrends").click(function(){
	  		FB.api(
			    "/search",
			    {
			        "type": "topic",
			        "q": "lebron james",
			        "fields": "id,name,page",
			        "access_token": "1486213318355026|-t1iOLTd-pw6nMkjsJ8o6d0nRtk"
			    },
			    function (response) {
			    	$("#showtrends").html(response);
			    	
			    	if(response.error){
			    		$("#showtrends").html(response['error']['message']+'<br/>'+response['error']['type']+'<br/>'+response['error']['code']+'<br/>'+response['error']['fbtrace_id']);
			    	}else if (response && !response.error) {
			        	/* handle the result */
		/*	        	$("#showtrends").html(response.data.name);
			      	}
			    }
			);
	  	});*/
	   	
	</script>
{% endblock %}