<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Login</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

  </head>
  <body>
    <div class = "container">
      <div class="wrapper">
        <form action="javascript:void(0)" method="post" id="frm_login" class="form-signin">       
            <h3 class="form-signin-heading">Welcome To Admin Login! Please Sign In</h3>
            <hr class="colorgraph"><br>
            
            <input type="text" class="form-control" name="_username" id="_username" placeholder="Username" autofocus="" />
            <input type="password" class="form-control" name="_password" id="_password" placeholder="Password"/>          
           
            <span style="color:red;display:none" id='login_fail_msg'></span>
            <span style="color:green;display:none" id='login_suc_msg'></span>
            <button class="btn btn-lg btn-primary btn-block"  id="btn_login" value="Login" type="button">Login</button>        
        </form>     
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>