{% extends "layout.html" %}
{% block title %}Update Bucket{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h1> Update Bucket </h1>
    <div class="form-area">  
        {% if errornorec: %}
            <span style="color:red">{{ errornorec }}</span>
        {% else: %}
            {% if 'error_update_bucket' in session: %}
                <span style="color:red">{{ session['error_update_bucket'] }}</span>
            {% endif %}

        <form role="form" id="frm_search" action="javascript:void(0)" method="post" >
            <div class="form-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
                <button type="button" id="btn_search" class="form-control btn btn-primary">Search Images</button>
                <button type="button" id="btn_search_loading" class="form-control btn btn-default" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
            </div>
        </form>


        <form role="form" id="frm_update_bucket" action="javascript:void(0)" method="post" enctype="multipart/form-data">
            <br style="clear:both">
            
            {% if buckets: %}
            <div class="form-group">
                <input type="hidden" name="id" value="{{ buckets[0]['id'] }}">
            </div>

            <div class="form-group">
                <span class="col-md-3 header_form">Bucket Name</span>
                <input type="text" name="name" value="{{ buckets[0]['name'] }}" class="form-control" />
            </div>

                {% if errornoimg: %}
                    <span style="color:red">{{ errornoimg }}</span>
                    <br style="clear:both">

                    <!-- searched images will be display here -->
                    <div id="serched_imgs">
                        
                    </div>

                    <br /><br />

                    <!-- after search images and select remaining image control will place here -->
                    <div id="as_image_controls">
                        
                    </div>

                    <!--{% for x in range(1,11) %}
                        <div class="form-group">
                            <span class="col-md-3 header_form">Image {{ x }}</span>
                            <input type="file" name="image{{ x }}" />
                        </div>
                    {% endfor %}-->
                    
                    
                {% elif images: %}
                    {% set i=1 %}
                    {% for image in images %}
                        <div class="form-group">
                            <span class="col-md-3 header_form">Image {{ i }}</span>
                            <input type="file" name="image{{ i }}" />
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" /> 
                                <img src="{{ url_for('static', filename='images/'+image) }}" style="height:100px" class="img-responsive"  />
                            </a>
                        </div>
                        <br style="clear:both">
                    {% set i=i+1 %}    
                    {% endfor %}
                    
                {% endif %}
                <button type="button" id="btn_update_bucket" class="btn btn-primary pull-left">Update Bucket</button>
                <button type="button" id="btn_update_bucket_loading" class="btn btn-default pull-left" style="border:none;display:none"><img src="{{ url_for('static',filename='images/loading.gif') }}" /></button>
            {% endif %}
        </form>
        {% endif %}
    </div>
{% endblock %}
         
    
                   